/* Styles of Contact page */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container3{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container3 .contact {
  margin-top: 40px;
}

.container3 .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container3 .row .container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.container3 .row .container1 input,
.container3 .row .container1 select,
.container3 .row .container1 textarea {
  width: 80%;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  font-family: 'Raleway', sans-serif;
  border: 0px;
  transition: all 0.5s ease-in-out;
  border: 2px solid rgb(195, 195, 195);
}

.container3 .row .container1 select option{
  font-family: 'Raleway', sans-serif;
}

.container3 .row .container1 input:focus,
.container3 .row .container1 select:focus,
.container3 .row .container1 textarea:focus {
  margin: 10px 0;
  outline: none;
  border: 0px;
  border: 2px solid rgb(243, 7, 86);
}

.container3 .row .container1 textarea::placeholder{
  font-family: 'Raleway',sans-serif;
}

.container3 .row .container1 button.add {
  padding: 10px 30px;
  width: 80%;
  outline: none;
  margin-top: 20px;
  border: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.3s ease-in;
  background-color: rgb(209, 22, 75);
}

.container3 .row .container1 button.add:focus {
  padding: 10px 30px;
  width: 80%;
  outline: none;
  margin-top: 20px;
  border: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  background-color: rgb(6, 204, 226);
}

.container3 .row .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
