/* Styles of Data page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.containersd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.containersd div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}