/* Styles of Email Page */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Cinzel", sans-serif;
  text-align: center;
  margin-top: 40px;
}

div.card {
  width: 70%;
}

div.card h5 {
  font-family: "Merriweather", sans-serif;
}

div.card div.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

div.card h5.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.card div.card-body{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.card div.card-body div.row{
    display: flex;
    width: 100%;
    margin-left: 10px;
    flex-direction: row;
    align-items: flex-start;
}

div.card div.card-body button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
