/* Styles of Navbar Component */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav .navbar-brand {
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 800;
}

nav div.navbar-nav .nav-link {
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

nav div.navbar-nav .nav-link:hover{
  font-weight: 600;
  color:#f30756;
  font-family: "Montserrat", sans-serif;
}

nav div.navbar-nav .nav-link:focus{
  font-weight: 600;
  color:rgb(243, 7, 86);
  font-family: "Montserrat", sans-serif;
}
