/* Styles of Student Policy page */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.list {
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.list p{
    margin-top: 2%;
    text-align: left;
}

div.list ol {
  margin-top: 2%;
}

div.list ol li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin: 5px 0;
  line-height: 1.5;
}
